<% include partials/boilerplate %>
  <form action="/search" id='request'>
    <input class="search" type='text' name='search' placeholder='Search for something' />
    <input type='submit' value='Search' id="searchButton"/>
  </form>
  <% if(data) {%>
    <% if(data.metadata.freeTextSearches) { %>
      <h1 class="searchResults"><%= data.metadata.freeTextSearches[0]%> Search Results</h1>
    <% } %>
    <% if(data.metadata.filters) { %>
      <h1 class="searchResults"><%= data.metadata.filters[0].name%> Search Results</h1>
    <% } %>
    <div>
      <ul>
        <% data.products.map((products)=>{ %>
            <li class="productItem" id="<%= products.id%>">
            <form method="post" action="/clothes/clothes_add"> 

                <input name="name" class="styledInput" type="text" value="<%= products.name %>">
                <% if(products.brand) { %>
                <input name="brand" class="styledInput" type="text" value="<%= products.brand.name %>">
                <% } %>
                <textarea name="description" style="display: none" readonly="readonly" type="text" value=""> <%= products.description.split('<ul>')[0] %> </textarea>
                <p> <%= products.description.split('<ul>')[0] %> </p>
                <input name="price" class="styledInput" type="text" value="<%= products.priceLabel %>">  
                <input name="productId" style="display: none" type="text" value="<%= products.id %>">  
                <input name="brandedName" class="styledInput" type="text" value="<%= products.brandedName %>" style="display: none">  
                <input name="imageBest" class="styledInput" type="text" value="<%= products.image.sizes.Best.url %>" style="display:none">           
                <input name="clothing_type" class="styledInput" type="text" value="<%= products.categories[0].shortName %>"> 

                <input class="styledInput" type="submit" value="Flex" />
            </form>  
                <img src="<%= products.image.sizes.Best.url%>" title="<%= products.name %>" alt="<%= products.brandedName %>" />
            </li>
        <% })%>
      </ul>
    </div>
  <%}%>
<% include partials/end %>