<% include partials/boilerplate %>
  <form action="/search" id='request' class="navbar-fixed-top">
    <input class="search" type='text' name='search' placeholder='Search for a clothing item' autocomplete="off"/>
    <input type='submit' value='Search' id="searchButton" class="btn-primary"/>
  </form>
  <% if(data) {%>
    <% if(data.metadata.freeTextSearches) { %>
      <h1 class="searchResults" style="margin-top: 6em"><%= data.metadata.freeTextSearches[0]%> Search Results</h1>
    <% } %>
    <% if(data.metadata.filters) { %>
      <h1 class="searchResults" style="margin-top: 6em"><%= data.metadata.filters[0].name%> Search Results</h1>
    <% } %>
    <div>
      <ul>
          <div class="row">
        <% data.products.map((products)=>{ %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" id="<%= products.id%>">
                <form method="post" action="/clothes/clothes_add">

                  <!-- Form elements, hidden for UI/UX purposes  -->
                <input name="name" class="styledInput" type="text" value="<%= products.name %>" style="display: none">
                <% if(products.brand) { %>
                <input name="brand" class="styledInput" type="text" value="<%= products.brand.name %>" style="display: none">
                <% } %>
                <textarea name="description" style="display: none" readonly="readonly" type="text" value="" style="display: none"> <%= products.description.split('<ul>')[0] %> </textarea>
                <p style="display: none"> <%= products.description.split('<ul>')[0] %> </p>
                <input name="price" class="styledInput" type="text" value="<%= products.priceLabel %>" style="display: none">  
                <input name="productId" style="display: none" type="text" value="<%= products.id %>" style="display: none">  
                <input name="brandedName" class="styledInput" type="text" value="<%= products.brandedName %>" style="display: none">  
                <input name="imageBest" class="styledInput" type="text" value="<%= products.image.sizes.Best.url %>" style="display:none">           
                <input name="clothing_type" class="styledInput" type="text" value="<%= products.categories[0].shortName %>" style="display: none"> 

                <img class="img-responsive" src="<%= products.image.sizes.Best.url%>" title="<%= products.name %>" alt="<%= products.brandedName %>" / style="display: none">

                  <h3><%= products.name %></h3>
                  <div class="searchImgHolder">
                    <img class-"img-responsive" src="<%= products.image.sizes.Best.url %>" alt="<%= products.name %>" title="<%= products.name %>">
                  </div>
                  <div class="caption">
                    <p><%= products.brandedName %></p><br>
                    <p class="description"><%= products.description.split('<ul>')[0] %></p><br>
                    <p><%= products.priceLabel %></p>
                    <p><input class="btn btn-primary" type="submit" value="Flex" /></p>
                  </div>
                </form>
              </div>
            </div>
        <% })%>
          </div>
      </ul>
    </div>
  <%}%>
<% include partials/end %>