<% include ../partials/boilerplate %>
<h1 class="pageHeader"> clothes you own</h1>
<ul class="clothes_all">
    <% data.map((clothes)=>{ %>
        <li>
        <h1> <%= clothes.name %> </h1>
        <img src="<%= clothes.imagebest %>" title="<%= clothes.name %>" alt="<%= clothes.brandedName %>" />
        <a class="view" href="/clothes/<%= clothes.id %>"> View Item </a>
        <a class="edit" href='/clothes/<%= clothes.id %>/edit'>Edit Item</a>
        <form method='POST' action='/clothes/<%= clothes.id %>?_method=DELETE'>
            <input type='submit' value='Delete Item' />
        </form>
        </li>
   <% }) %> 
</ul>

<% include ../partials/end %>