<% include ../partials/boilerplate %>
<% console.log(data) %>

<h1 class="pageHeader">
  Editing <%= data.name %>
</h1>

<form method='POST' action='/clothes/<%= data.id %>?_method=PUT' class="edit_info">
  <input name='name' type='text' value='<%= data.name %>' />
  <input name='brand' type='text' value='<%= data.brand %>' />
  <textarea name='description' type='text' value='' style="height: 202px"> <%= data.description %> </textarea>
  <input name='price' type='text' value='<%= data.price %>' />
  <input style="display: none" name='productId' type='text' value='<%= data.productid %>' />
  <input name='brandedname' type='text' value='<%= data.brandedName %>' style="display: none;"/>
  <input style="display: none" name='imageBest' type='text' value='<%= data.imagebest %>' />
  <input name='clothing_type' type='text' value='<%= data.clothing_type %>' />
  <input type='submit' value='Swool' class="edit"/>
</form>
 
<% include ../partials/end %>