<% include ../../partials/boilerplate %>
    <h1> <%= username %> outfits </h1>
    <% console.log(data) %>
    <h1><%= data.name %> </h1>
<img src="<%= data.imagebest %>" />
<p> <%= data.brand %> </p>
<p> <%= data.description %> </p>
<p> <%= data.price %> </p>
<p> <%= data.productid %> </p>
<p> <%= data.brandename %> </p>
<p> <%= data.clothing_type %> </p>
<% include ../../partials/end %>