<% include ../../partials/boilerplate %>
    <% console.log(data) %>
    <h1 class="pageHeader"> <%= data[0].outfitname %> Outfit </h1>
    <h2 class="subHeader">This outfit is worth <%= data[0].clout_points %> Clout Points </h2>

    <div class="col-sm-6 col-md-4" id="clothes_single">
        <div class="thumbnail">
            <% data.map((clothing)=>{ %>
                <h3> <%= clothing.name %> </h3>
                <img class="outfitImg" src="<%=clothing.imagebest%>"/>         
           <% }) %>
           <div class="caption">
            <div>
                <a class="edit" href='/clothes/outfits/'>Back</a>
                <a class="edit" href='/clothes/outfits/<%= data[0].outfitid %>/edit'>Edit</a>
            </div>
            <form method='POST' action='/clothes/outfits/<%= data[0].outfitid %>?_method=DELETE'>
                <input type='submit' value='Delete Item' />
            </form>
           </div>
        </div>
    </div>

<% include ../../partials/end %>